/*element selector*/

div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
img{
    border: 10px groove orangered;
}

.one{
    border: 30px dashed darkblue;

}

.two{
    border: 30px double green;

}

.three{
    border: 30px solid blue;

}