p{
    font-family: sans-serif;
}


.pixel{
    font-size: 16px;
}

/* 1 rem = the value of the default user browser text size usually 16px*/
.one-rem{
    font-size: 1rem;
}

.onepointfive-rem{
    font-size: 1.5rem;
}

.two-rem{
    font-size: 2rem;
}
.four-rem{
    font-size: 4rem;
}