div{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    border: 20px groove;
    background-image: url("../../../999_image/bird.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}